EXPO_PUBLIC_BASE_URL=https://localhost:7045
EXPO_PUBLIC_SUPER_ADMIN_BASE_URL=https://localhost:7042
EXPO_PUBLIC_SOCKET_URL=
EXPO_PUBLIC_OTA_URL=

GITHUB_TOKEN=
GITHUB_REPO=

EXPO_PUBLIC_GOOGLE_CLIENT_ID=
EXPO_PUBLIC_ANDROID_GOOGLE_CLIENT_ID=

EXPO_PUBLIC_GOOGLE_RECAPTCHA_ID=
EXPO_PUBLIC_GOOGLE_RECAPTCHA_KEY=

EXPO_PUBLIC_PUSHER_CONFIG_KEY=
EXPO_PUBLIC_PUSHER_CONFIG_CLUSTER=
# sua moi khi chinh version store
EXPO_PUBLIC_STORE_VERSION_ANDROID=1.0.0
EXPO_PUBLIC_STORE_VERSION_IOS=1.0.5
# sua moi khi chinh hotfix
EXPO_PUBLIC_CURRENT_BUNDLE_VERSION=1.0.0
