<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762317972267-dk6qr9t8srm4atfk60fn1ud9vlu62iuu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762317972267-dk6qr9t8srm4atfk60fn1ud9vlu62iuu</string>
	<key>API_KEY</key>
	<string>AIzaSyAbwXUlck-gNz014Kc_4l8kCcfF-1XA0lg</string>
	<key>GCM_SENDER_ID</key>
	<string>762317972267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.max.britghtsoft.touchstudymobile</string>
	<key>PROJECT_ID</key>
	<string>touch-study-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>touch-study-mobile.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762317972267:ios:8e3fa93b367cd2a2371b6e</string>
</dict>
</plist>